{% extends 'layout.html' %}

{% block content %}
    <h1>💡 BULBS 💡</h1>
    <p>Turn a text message into a pattern of bulbs, 
        and learn a little bit about binary along the way.</p>
    <form method="post">
        <textarea
            maxlength="1000" 
            autofocus name="message" 
            placeholder="Write a message"></textarea>
        <button class="output-btn">OUTPUT TO BINARY</button>
    </form>
    {% if message %}
    <div id="output-option-div">
        <div>
            <input type="radio" id="bulbs" name="output-option" value="bulbs" checked>
            <label for="bulbs">Bulbs</label>
        </div>
        <div>
            <input type="radio" id="nums" name="output-option" value="nums">
            <label for="nums">0s and 1s</label>
        </div>
    </div>
    <button id="copy-btn">COPY BINARY TO CLIPBOARD</button>
    <div class="message-div" id="binary-message">{{message}}</div>
    <script src="{{ url_for('static', filename='/index.js') }}"></script>
    {% endif %}

{% endblock %}