<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BULBS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/" id="home-link">TEXT TO BINARY</a></li>
          <li><a href="/decode" id="decode-link">BINARY TO TEXT</a></li>
          <li><a href="/learn" id="learn-link">HOW IT WORKS</a></li>
          <li><a href="/about" id="about-link">ABOUT</a></li>
        </ul>
      </nav>
    </header>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <script>
      const currentPath = window.location.pathname.slice(1)
      if (!currentPath) {
        document.getElementById('home-link').style.textDecoration = "underline"
        document.getElementById('home-link').style.color = "#5A5A5A"
      } else {
        document.getElementById(`${currentPath}-link`).style.textDecoration = "underline"
        document.getElementById(`${currentPath}-link`).style.color = "#5A5A5A"
      }
      console.log(currentPath)
    </script>
  </body>
</html>